/* Write your CSS here */
.sucess-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 1;
}
.repo-item {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #f8f8ff;
  margin: 10px;
  border-radius: 18px;
}

.logo {
  width: 150px;
  height: 150px;
}
.repo-name {
  font-size: 24px;
  color: #e73959;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
}
.stats {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.icon-value-container {
  display: flex;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.icon {
  height: 22px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.value {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 22px;
  color: #1e293b;
  font-weight: 500;
}
.failure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.failure-img {
  width: 100%;
}
.failure-text {
  font-family: Roboto;
  color: #1e293b;
  text-align: center;
  font-size: 42px;
  font-weight: bold;
}
@media all and (max-width: 767px) {
  .repo-item {
    width: 280px;
  }
  .failure-img {
    width: 80%;
  }
  .failure-text {
    font-size: 22px;
  }
}
